/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 12px;
}

body {
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  /* margin: 0; */
  border: 1px solid black;
  display: flex;
  width: 100%;
  height: 5vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
}

.docTitle {
  margin: auto;
}

main {
  border: 1px solid blue;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  border: 2px solid red;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 85%;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  perspective: 1000px;
}

div {
  border: 4px solid black;
  width: 16%;
  height: 48%;
  position:  relative;
  transform: scale(1);
  transition: transform 1s;
  transform-style: preserve-3d;
  /* background-position: center;
  background-size: contain;
  background-position: center; */
}
.cardSet, .cardBack{
  /* width: 100%; */
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.cardSet{
  transform: rotateY(180deg);
}
div.flip,
div.matched{
  transform: rotateY(180deg);
}
div:active{
  transform: scale(.95);
  transition: transform .2s;
}
img{
  height: 100%;
}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
