/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


h1 > a{
  color: rgba(235, 84, 83, 1);
  text-decoration: none;
  font-size: 55px;
  font-family: Lato, sans-serif;
  font-weight: 300;
}
h2 {
  font-size: 25px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  margin-top: 10px;
}
nav{
  margin-top: 10px;
}
nav > a{
  color: rgba(35, 35, 5, 0.2);
  font-size: 25px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  padding: 5px;
}

article{
  font-family: Lato, sans-serif;
  font-weight: 300px;
}

h3{
  color: rgba(35, 35, 5, 0.3);
  font-size: 38px;
  margin-top: 60px;
}

article > h2 > a{
  color: black;
  text-decoration: none;
  font-size: 40px;
}

article > img {
  margin:auto;
  width: 100%;
}

article > p{
  margin-top: 10px;
  font-size: 18px;
}
article p::first-letter{
  float: left;
  font-size: 450%;
  color: rgba(35, 35, 5, 0.3);
}

article > h4 > a{
  color: rgba(235, 84, 83, 1);
  font-family: Lato, sans-serif;
  font-weight: 700px;
  font-size: 20px;
  margin-top: 10px;
  text-align: right;
}

article #paris{
  margin:auto;
  width: 80%;
}

footer{
  margin-top: 35px;
  color: rgba(235, 84, 83, 1);
}

footer > nav > a{
  color: rgba(235, 84, 83, 1);
  font-size: 100%;
}

footer > p{
  color: black;
}
