/*
Property of GardnerGang
******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1{
  color: white;
}
img{
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  max-height: 500px;
  width: 50%;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #001247;
  /* justify-content: flex-start; */
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
